.box {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid black;
}
.box1{
    background-color: blue;
}
.box2 {
    background-color: yellow;
    margin-left: 139.2px;
}
.box3 {
    background-color: green;
    margin-left: 278.4px;
}

